body{
  background:url("../images/fortune-cookie-vector-illustrations.jpg") no-repeat #ffd778 center top;
  margin:0;
  color:#FFFFFF;
  font-family: Arial, sans-serif;
  text-align:center;
}


#fortune_button{
  margin-top:200px;
  display: inline-block;
  padding:10px 20px;
  background:#a12812;
  font-size:20px;
  text-decoration: none;
  color:#FFFFFF;
}

#fortune_cookie{
  margin:160px auto 0px auto;
  width:500px;
}

#fortune_cookie p{
  background-color: #FFFFFF;
  color:black;
  padding:5px;
  margin-bottom:0px;
}
#fortune_cookie span{
  float:right;
  color:#a12812;
}

#fortune_form{
  position:absolute;
  bottom:0px;
  left:0px;
  padding:5px;
}

#fortune_form label{
  display:block;
}

#fortune_form input{
  padding:5px;
}


#nom{
  position:fixed;
  left:0;
  top:0;
  background: #FFFFFF;
}

#nomContent
{
  position:relative;
}

#nomContent p{
  margin:0;
  padding: 10px 20px;
  color:#a12812;
}

#nomContent span{
  position:absolute;
  color:red;
  font-size:9px;
  top:3px;
  right:3px;
  cursor:pointer;
}


#menuContent{
  position:fixed;
  top:0;
  right:-300px;
  background: #FFFFFF;
  width:300px;
  height:100%;
  transition:all 0.5s linear;
}
#menuContent h2{
  color:#a12812;
}

#menuContent.open{
  right:0px;
}













